<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://livescoringwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>livescoringwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LiveScoringWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LiveScoringWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LiveScoringWebContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jdrewdbserver.database.windows.net,1433;Initial Catalog=LiveScoringWebApp_db;User ID=azureadmin@jdrewdbserver;Password=Chilipepper99" Name="Data Source=tcp:jdrewdbserver.database.windows.net,1433;Initial Catalog=LiveScoringWebApp_db;User Id=azureadmin@jdrewdbserver;Password=Chilipepper99" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|LiveScoringWebContext-20161013142639.mdf;Initial Catalog=LiveScoringWebContext-20161013142639;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LiveScoringWebContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=LiveScoringWebContext-20161013142639; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|LiveScoringWebContext-20161013142639.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LiveScoringWebContext-Web.config Connection String">
      <ParameterValue>data source=tcp:jdrewdbserver.database.windows.net,1433;initial catalog=LiveScoringWebApp_db;user id=azureadmin@jdrewdbserver;password=Chilipepper99;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>